@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i';
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 0;
}

@media only screen and (max-device-width : 800px)
{
	.wrapper {
		padding-bottom: calc(15px + 5vh) !important;
		max-width: 90vw !important;
		padding-left: 2vw !important;
		padding-right: 2vw !important;
	}
	#foot-nav {
		font-size: 80% !important;
		height: 5vh !important;
		padding-top: 10px !important;
	}
	#foot-nav > p {
		height: 5vh !important;
	}
	.div-row {
		display: inline;
		width: 100%;
	}
	.row {
		display: inline;
		width: 100%;
	}
	#headertitle {
		font-size: 3em;
	}
	#headerthing > p {
		width: 100%;
	}
}

@media only screen and (min-device-width : 801px)
{
	.wrapper {
		padding-bottom: calc(20px + 3vh) !important;
		max-width: 90vw !important;
		padding-left: 10vw !important;
		padding-right: 10vw !important;
	}
	#foot-nav {
		font-size: 100% !important;
		/*height: 3vh !important;*/
		/*padding-top: 15px !important;*/
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
	#foot-nav > p {
		height: 3vh !important;
	}
	.div-row {
		display: flex;
	}
	.row {
		display: flex;
	}

	#headertitle {
		font-size: 3.5em;
	}
	#headerthing > p {
		width: 100%;
	}
}
a.hovlink {
	transition: all 0.1s ease;
	color: #88aaaa !important;
	text-decoration: none;
}

a.hovlink:hover {
	transition: all 0.1s ease;
	color: #fff !important;
	background: #88aaaa;
}
a.hl {
	transition: all 0.1s ease;
	color: #88aaaa !important;
	text-decoration: none;
}

a.hl:hover {
	transition: all 0.1s ease;
	color: #fff !important;
	background: #88aaaa;
}
.mainBoxes {
	text-align: justify;
	font-size: 1em;
	overflow: hidden;
	padding: 5px 20px 10px 20px;
	margin: 10px;
}

.box {
	text-align: justify;
	font-size: 1em;
	overflow: hidden;
	padding: 5px 20px 10px 20px;
	margin: 10px;
}

.imgbox {
	padding: 1vh 1vw !important;
}

h1 {
	font-family: Montserrat;
	font-weight: 700;
	text-align: left;
}

h2 {
	font-family: Montserrat;
	font-weight: 300;
	margin: 0 0 !important;
	text-align: left;
}

h3 {
	font-family: 'PLayfair Display';
	font-weight: 700;
	font-style: italic;
	margin: 0 0 !important;
	text-align: left;
}

img .txtimg {
	padding: 5px 5px !important;
}

#foot-nav {
	background-color: #2d2d2d;
	font-size: 0.80em !important;
	position:fixed !important;
	z-index: 3 !important;
	bottom: -1px;
	right: 0px;
	text-align: center !important;
	width: 100%;
	margin: 0px 0px !important;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	color: #DDDDDD;
}

#foot-nav > p {
	display: table-cell !important;
	vertical-align: middle !important;
	text-align: center !important;
}

#foot-nav a {
	color: #fff !important;
	text-decoration: none;
	transition: all 0.1s ease;
}

#foot-nav a:hover {
	transition: all 0.1s ease;
	color: #aaaaaa !important;
}

#headerthing {
	top: 0px;
	left:0px;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 130px;
	color: #fff;
	z-index: 1;
	padding-top: 20px;
}

#headertitle {
	font-family: 'PLayfair Display';
	font-weight: 700;
	font-style: italic;
	margin-top: 0px;
	z-index: 1;
}

#headerdesc {
	font-family: 'Open Sans';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.5em;
	z-index: 1;
}
#headerthing > p {
	display: table-cell !important;
	height: 130px;
	vertical-align: middle !important;
	text-align: center !important;
	float: left;
	z-index: 1;
	margin: 0 auto 0 auto !important;
	padding: 0 0;
}

#socialArea {
	top:0px;
	right: 0px;
	padding-right: 10px;
	color: #88aaaa;
	z-index: 4;
	float: right;
	text-align: right;
}

#socialArea a {
	transition: all 0.1s ease;
	color: #fff !important;
}

#socialArea a:hover {
	transition: all 0.1s ease;
	color: #aaaaaa !important;
}

#socialArea i {
	padding-left: 10px !important;
}

#picturebox {
	height: 10px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	border-radius: 25px;
}

.mainBoxes h1 {
	margin-top: 0 !important; 
}

.box h1 {
	margin-top: 0 !important; 
}

.center-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.feature {
	
	padding-left: 0px;
	margin: 0;
	text-align: center;
}

.feature h2{
	font-family: 'Playfair Display';
	font-weight: 700;
	font-style: italic;
}

.feature-txt {
	margin-top: 0;
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

.scene {
	.scene-element {
		animation-duration: 0.15s;
		transition-timing-function: ease-in;
	}
}

.scene-element-fade-in {
	animation-name: fade-in;
}


#page-cover {
	background-color: #fff;
	opacity: 0%;
	z-index: 5;
}

.sep {
	color: #d3d0c8;
}