<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'uciprereqs/css/bulma.css' %}" media="all">
	<link rel="stylesheet" href="{% static 'uciprereqs/css/style.css' %}">

	{% block extraincludes %} {% endblock %}
	<title>{% block title %} {% endblock %}</title>
</head>

<body>
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					{% block headertitle %} {% endblock %}
				</h1>
				<h2 class="subtitle">
					See prerequisites and information about UCI classes.
				</h2>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			{% block txt %} {% endblock %}
		</div>
	</section>
	<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
		<div class="navbar-end">
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="https://jasdelgado.com">
						Homepage
					</a>
					<a class="navbar-item" href="https://github.com/jastronaut/uci-prereqs">
						GitHub
					</a>
				</div>
			</div>
	</nav>
</body>
<script type='text/javascript' src="{% static 'uciprereqs/js/getprereqs.js' %}"></script>

</html>